img{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    object-fit: cover;
}
#datetime{
    font-size: 25px;
}
#loadpara{
    color: blue;
}

body{
    height: 100;
    width: 100; 
    color: purple;
    margin: 0;
    height: 100vh; 
    font-family: "static", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.loader{
    height: 5px;
    width: 100%;
    background-color: black;
    color: red;
    border-radius: 10px;
    border: solid black 2px;
    box-shadow:  0px 15px 30px black;

    animation-name: Loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes Loading {
    from{
        width: 0%;
    }
    to{
        width:100%;
        animation-delay: 3s;    
    }
}

.block{
    display: none;
}

.maincont{
    #datetime{
        font-size: 20px;
        color: blue;
    }
    width: 100%;
    height: 100vh;
    background-color: black;
}
.heading{
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    color: purple;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.news{
    a{
        text-decoration: none;
        color: black;
    }
    a:visited{
        color: green;
    }
    a:hover{
        color: red;
    }
    a:active{
        color: orange;
    }

    width: 95%;
    height: 60%;
    display: inline-flex;
    padding: 10px;
    gap: 15px;
    color: black
}

.Ect{
    h2{
        margin-top: 25px;
        background-color: white;
        color: black;
    }
    font-size: 18px;
    border: solid black 2px;
    border-radius: 8%;
    width: 100%;
    background-color: lightseagreen;
}

.hindu{
    h2{
        margin-top: 25px;
        background-color: white;
        color: black
    }
    font-size: 18px;
    border: solid black 2px;
    border-radius: 8%;
    width: 100%;
    background-color: lightcoral;
}
.ht{
    h2{
        margin-top: 25px;
        background-color: white;
        color: black
    }
    font-size: 18px;
    border: solid black 2px;
    border-radius: 8%;
    width: 100%;
    background-color: orange;
}
.TOI{
    h2{
        margin-top: 25px;
        background-color: white;
        color: black
    }
    font-size: 18px;
    border: solid black 2px;
    border-radius: 8%;
    width: 100%;
    background-color: lightblue;
}

#downloadbtn{
    font-size: large;
    margin-left: 60px;
    margin-top: 20px;
    height: 50px;
    width: 50px;
    display: block;
    background-color: white;
    border-radius: 35%;
    border: solid black 2px;

}
.buttons{
    display: flex;
}
#covidtracker{
    font-size: 18px;
    margin-left: 75%;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    display: inline;
    background-color: white;
    border-radius: 15px;
    border: solid black 2px;
}

.notes{
    background-color: lightyellow;
}